[submodule "server/third_party/cppformat"]
	path = server/third_party/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "server/third_party/snappy"]
	path = server/third_party/snappy
	url = https://github.com/google/snappy.git
